@using BugTrackerSU.Data.Models.Enums
@using BugTrackerSU.Web.ViewModels.Tickets
@model EditTicketViewModel

@{
    ViewData["Title"] = "Edit Ticket";
}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Tickets/MyTickets">My Tickets</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>


<div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-md-6">
              <form method="post" class="bg-dark  rounded-5 shadow-5-strong p-5">
                <h1 class="text-center text-light">@ViewData["Title"]</h1>\
                <br />
                <div class="form-group">
                    <label asp-for="DeveloperId" class="text-light"></label>
                    <select asp-for="DeveloperId" class="form-control">
                     @foreach (var developer in Model.AsignedProjectDevelopers)
                     {
                        <option value="@developer.Id">@developer.UserName</option>
                     }
                    </select>
                </div>
                <div class="form-group">
                   <label asp-for="TicketType" class="text-light" ></label>
                     <select asp-for="TicketType" class="form-control">
                        @foreach (int choice in Enum.GetValues(typeof(TicketType)))
                          {
                              <option value="@choice">@Enum.GetName(typeof(TicketType), choice)</option>
                          }
                 </select>
                </div>
                <div class="form-group">
                     <label asp-for="Status" class="text-light" ></label>
                      <select asp-for="Status" class="form-control">
                        @foreach (int choice in Enum.GetValues(typeof(TicketStatus)))
                        {
                            <option value="@choice">@Enum.GetName(typeof(TicketStatus), choice)</option>
                        }
                 </select>
                </div>
                <div class="form-group">
                     <label asp-for="Priority" class="text-light" ></label>
                      <select asp-for="Priority" class="form-control">
                        @foreach (int choice in Enum.GetValues(typeof(TicketPriority)))
                        {
                            <option value="@choice">@Enum.GetName(typeof(TicketPriority), choice)</option>
                        }
                 </select>
                </div>

                <button type="submit" class="btn btn-primary btn-block">@ViewData["Title"]</button>
              </form>
            </div>
          </div>
        </div>