@using BugTrackerSU.Web.ViewModels.Projects
@model CreateProjectViewModel

@{
    this.ViewData["Title"] = "Create new Project!";
}

<form method="post">
  <div class="row">
    <div class="offset-lg-2 col-lg-8 col-sm-12 offset-xl-3 col-xl-6">
      <div class="form-group">
         <label asp-for="Title"></label>
         <input asp-for="Title" class="form-control" placeholder="Title here...">
         <span asp-validation-for="Title" class="small text-danger"></span>
      </div>

      <div class="form-group">
         <label asp-for="Description"></label>
         <textarea asp-for="Description" class="form-control" rows="14" placeholder="Content here..."></textarea>
         <span asp-validation-for="Description" class="small text-danger"></span>
      </div>

    <table>
        @for (var i = 0; i < @Model.AllUsers.Count; i++)
        {
           <tr>
           <td>
            @Html.CheckBoxFor(m => Model.AllUsers[i].Selected)
            @Model.AllUsers[i].UserName
            @Html.HiddenFor(m => Model.AllUsers[i].Selected)
            @Html.HiddenFor(m => Model.AllUsers[i].UserName)
            @Html.HiddenFor(m => Model.AllUsers[i].Id)
           </td>
           </tr>
        }
    </table>
    <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
   </div>
</form>