@using BugTrackerSU.Common
@using BugTrackerSU.Web.ViewModels.Projects
@model List<ProjectViewModel>



@{
    this.ViewData["Title"] = "My projects";
}


<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>

<div>
<a asp-controller="Projects"
    asp-action="Create"
    class="btn btn-primary">
    Create Project
    </a>
</div>

<br />
<div class="table-responsive-md">
    <table class="table table-striped table-dark table-hover border">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Creation date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
       @foreach (var project in Model)
       {
         <tr>
          <td>@project.Title</td>
          <td>@project.Descripiton</td>
          <td>@project.CreatedOn</td>
          <td>
              <a asp-controller="Projects"
                 asp-action="ProjectDetails"
                 asp-route-id="@project.ProjectId"
                 class="btn btn-primary">
                 View More
              </a>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || 
                  this.User.IsInRole(GlobalConstants.ProjectManagerRoleName) ||
                 this.User.IsInRole(GlobalConstants.SubmitterRoleName))
            {
               <a asp-controller="Tickets"
                 asp-action="Create"
                 asp-route-id="@project.ProjectId"
                 class="btn btn-primary">
                 Create Ticket
              </a>
            }
          </td>
         </tr>
       }
      </tbody>
    </table>
</div>