@using BugTrackerSU.Common
@using BugTrackerSU.Web.ViewModels.Projects
@using BugTrackerSu.Web
@model CreateProjectViewModel

@{
    this.ViewData["Title"] = "Create Project!";
}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Projects/MyProjects">My Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>

<div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-md-6">
              <form method="post" class="bg-dark  rounded-5 shadow-5-strong p-5">
                <h1 class="text-center text-light">@ViewData["Title"]</h1>\
                <br />
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <label asp-for="Title" class="text-light"></label>
                  <input asp-for="Title" placeholder="Project Title" class="form-control">
                  <span asp-validation-for="Title" class="text-danger small"></span>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

                <!-- Description input -->
                 <div class="form-outline mb-4">
                  <label asp-for="Description" class="text-light"></label>
                  <input asp-for="Description" placeholder="Project Description" class="form-control">
                  <span asp-validation-for="Description" class="text-danger small"></span>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

               <label class="text-light">Select Users to assign to project</label>
               <select name="UserIds" class="select form-control"  size="3"  multiple aria-label="multiple ">
                 <option selected>Select users to asign in project</option>
                @foreach (var user in Model.AllUsers)
               {
                        if (this.User.GetId() != user.Id && user.RoleName != GlobalConstants.AdministratorRoleName)
                        {
                          <option value="@user.Id">Name: @user.UserName,  Role: @user.RoleName</option>   
                        }

               }
               </select>
                <br />
                <button type="submit" class="btn btn-primary btn-block">@ViewData["Title"]</button>
              </form>
            </div>
          </div>
        </div>