@using BugTrackerSU.Web.ViewModels.Administration.Dashboard

@model ManageRolesViewModel

@{
    this.ViewData["Title"] = "Assign Roles";
}

<h1>@this.ViewData["Title"]</h1>


<form method="post">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="UserId"></label>
            <select asp-for="UserId" class="form-control">
                <option value="@null">Serach for user</option>
               @foreach (var user in Model.Users)
                {
                    if(user.RoleId == null)
                    {
                     <option value="@user.Id">@user.UserName</option>   
                    }
                }
            </select>
        </div>
        <br>
        <div class="form-group col-md-4">
            <label asp-for="RoleId"></label>
            <select asp-for="RoleId" class="form-control">
                <option value="">Search for role</option>
                @foreach (var role in Model.Roles)
                {
                    <option value="@role.Id">@role.RoleName</option>
                }
            </select>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
   @foreach (var user in Model.Users)
   {
     <tr>
      <td>@user.UserName</td>
      <td>@user.RoleName</td>
     </tr>
   }
  </tbody>
</table>
