@using BugTrackerSU.Web.ViewModels.Posts
@model AllPostsViewModel

@{
    this.ViewData["Title"] = "Posts";
}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>

<section class="bg-dark">
  <div class="container position-relative my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">

        <div class= "card-body align">
            <h4 class="mb-0">Recent Posts</h4>
            <p class="fw-light mb-4 pb-2">Latest Posts section by users</p>
        </div>

          <hr class="my-0" />

        @foreach (var post in Model.Posts)
       {   
          <div class="card-body p-4">
                <div class="d-fle mb-2 ">
                     <h5 class="fw-bold mb-1"><i class="fas fa-newspaper"></i> @post.Title</h5>
                     <p class="mb-0"> <strong>Added by:</strong> @post.AddedByUserUserName</p>
                     <p class="mb-0"> <strong>About Project:</strong> @post.ProjectName</p>
                     <p class="mb-0"><strong>Created on:</strong> @post.CreatedOn.ToString("MM/dd/yyyy")</p>
                      <a asp-controller="Comments" asp-action="PostComments" asp-route-postId="@post.Id" >View Comments </a>
                </div>

                <p class="mb-0">
                 <strong>Content:</strong> @post.Content 
                </p>
              </div>
            
          <hr class="my-0" />
        }



         </div> 
      </div>
    </div>
    <br />
    <partial name="_PostsPagingPartial" model="@Model" />
  </div>
</section>