@using BugTrackerSU.Data.Models.Enums
@using BugTrackerSU.Web.ViewModels.MinorTasks
@using BugTrackerSU.Web.ViewModels.Tickets
@model CreateMinorTaskFormModel

@{
    ViewData["Title"] = "Create Task";
}

<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Tickets/MyTickets">My Tickets</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong>@this.ViewData["Title"]</strong></li>
    </ol>
</nav>

<div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8 col-md-6">
              <form method="post" class="bg-dark  rounded-5 shadow-5-strong p-5">
                <h1 class="text-center text-light">@ViewData["Title"]</h1>\
                <br />
                <div class="form-outline mb-4">
                  <label asp-for="Title" class="text-light"></label>
                  <input asp-for="Title" placeholder="Task Name" class="form-control">
                  <span asp-validation-for="Title" class="text-danger small"></span>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

                 <div class="form-outline mb-4">
                  <label asp-for="TicketId" hidden></label>
                  <label asp-for="Content" class="text-light"></label>
                  <input asp-for="Content" placeholder="Task Content" class="form-control">
                  <span asp-validation-for="Content" class="text-danger small"></span>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 88.8px;"></div><div class="form-notch-trailing"></div></div></div>

                <div class="form-group">
                   <label class="text-light" asp-for="TaskType" ></label>
                     <select asp-for="TaskType" class="form-control">
                        @foreach (int choice in Enum.GetValues(typeof(TaskType)))
                          {
                              <option value="@choice">@Enum.GetName(typeof(TaskType), choice)</option>
                          }
                 </select>
                </div>

                <button type="submit" class="btn btn-primary btn-block">@ViewData["Title"]</button>
              </form>
            </div>
          </div>
        </div>
